In [1]:
#libraries
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql

In [2]:

#'pizza_bd'live database connections
username = 'root'
password = '12345'
host = 'localhost'
port = '3306'
database = 'pizza_bd'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

Engine(mysql+pymysql://root:***@localhost:3306/pizza_bd)

In [3]:
#'pizza_bd_warehouse' warehouse database connections
username = 'root'
password = '12345'
host = 'localhost'
port = '3306'
database = 'pizza_bd_warehouse'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/pizza_bd_warehouse)

In [4]:
#data extract
df = pd.read_sql_query("""select * from runners;""",mysql_engine)
print(df)

#data load
df.to_sql(
        name = 'runners',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

   runner_id registration_date
0          1        2021-01-01
1          2        2021-01-03
2          3        2021-01-08
3          4        2021-01-15

4

In [5]:
#data extract
df = pd.read_sql_query("""select * from customer_orders;""",mysql_engine)
print(df)

#data load
df.to_sql(
        name = 'customer_orders',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

    order_id  customer_id  pizza_id exclusions extras          order_time
0          1          101         1       None   None 2020-01-01 18:05:02
1          2          101         1       None   None 2020-01-01 19:00:52
2          3          102         1       None   None 2020-01-02 23:51:23
3          3          102         2       None   None 2020-01-02 23:51:23
4          4          103         1          4   None 2020-01-04 13:23:46
5          4          103         1          4   None 2020-01-04 13:23:46
6          4          103         2          4   None 2020-01-04 13:23:46
7          5          104         1       None      1 2020-01-08 21:00:29
8          6          101         2       None   None 2020-01-08 21:03:13
9          7          105         2       None      1 2020-01-08 21:20:29
10         8          102         1       None   None 2020-01-09 23:54:33
11         9          103         1          4   1, 5 2020-01-10 11:22:59
12        10          104         1       None   None 2020-01-11 18:34:49
13        10          104         1       2, 6   1, 4 2020-01-11 18:34:49

14

In [6]:
#data extract
df = pd.read_sql_query("""select * from runner_orders;""",mysql_engine)
print(df)

#data load
df.to_sql(
        name = 'runner_orders',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

   order_id  runner_id          pickup_time distance    duration  \
0         1          1  2020-01-01 18:15:34     20km  32 minutes
1         2          1  2020-01-01 19:10:54     20km  27 minutes
2         3          1  2020-01-03 00:12:37   13.4km     20 mins
3         4          2  2020-01-04 13:53:03     23.4          40
4         5          3  2020-01-08 21:10:57       10          15
5         6          3                 None     None        None
6         7          2  2020-01-08 21:30:45     25km      25mins
7         8          2  2020-01-10 00:15:02  23.4 km   15 minute
8         9          2                 None     None        None
9        10          1  2020-01-11 18:50:20     10km   10minutes

              cancellation
0                     None
1                     None
2                     None
3                     None
4                     None
5  Restaurant Cancellation
6                     None
7                     None
8    Customer Cancellation
9                     None

10

In [7]:
#data extract
df = pd.read_sql_query("""select * from pizza_names;""",mysql_engine)
print(df)

#data load
df.to_sql(
        name = 'pizza_names',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

   pizza_id  pizza_name
0         1  Meatlovers
1         2  Vegetarian

2

In [8]:
#data extract
df = pd.read_sql_query("""select * from pizza_recipes;""",mysql_engine)
print(df)

#data load
df.to_sql(
        name = 'pizza_recipes',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

    pizza_id  toppings
0          1         1
1          1         2
2          1         3
3          1         4
4          1         5
5          1         6
6          1         8
7          1        10
8          2         4
9          2         6
10         2         7
11         2         9
12         2        11
13         2        12

14

In [9]:
#data extract
df = pd.read_sql_query("""select * from pizza_toppings;""",mysql_engine)
print(df)

#data load
df.to_sql(
        name = 'pizza_toppings',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

    topping_id  topping_name
0            1         Bacon
1            2     BBQ Sauce
2            3          Beef
3            4        Cheese
4            5       Chicken
5            6     Mushrooms
6            7        Onions
7            8     Pepperoni
8            9       Peppers
9           10        Salami
10          11      Tomatoes
11          12  Tomato Sauce

12